.patterns {
  .container {
    max-width: 965px;
    margin: 0 auto;
  }
  .title {
    text-align: center;
    color: #54595f;
    font-size: 1.4em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    h1 {
      font-family: "FuturaLTPro-Book", Sans-serif;
      font-size: 3.5rem;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: 0.8px;
      margin: 0;
    }
    h2 {
      font-family: "FuturaStd-Light", Sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4.5px;
      margin: 0;
    }
  }
  .description {
    margin: 0 auto;
    max-width: 590px;
    p {
      font-family: "FuturaLTPro-Book", sans-serif;
      font-size: 1em;
      line-height: 1.7em;
      text-align: center;
      color: #7a7a7a;
    }
  }
  .row {
    margin-bottom: 30px;
  }
  .card {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 0;
    height: 550px;
    &:nth-child(1) {
      margin-right: 20px;
    }
    &:nth-child(2) {
      margin-left: 20px;
    }
  }
  .card-large {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  #amazonas1_bis {
    height: 1060px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #amazonas4 {
    background-position: -159px 0px;
  }
  #amazonas6 {
    background-position: -35px -143px;
    background-size: 110% auto;
  }
  #amazonas8 {
    height: 759px;
  }
  #amazonas11 {
    height: 550px;
  }
  #amazonas12 {
    background-position: center center;
    height: 680px;
  }
  #flowers1 {
    height: 535px;
  }
  #flowers2,
  #flowers5 {
    height: 215px;
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    h1 {
      font-family: "FuturaLTPro-Book", Sans-serif;
      font-size: 0.8em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      a {
        color: #54595f;
        text-decoration: none;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    h3.title {
      color: #7a7a7a;
      font-family: "FuturaStd-Light", Sans-serif;
      font-size: 1em;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: 0.3px;
      margin: 0 10px;
    }
    .arrow a {
      color: #e1e1eb;
      text-decoration: none;
      font-size: 30px;
    }
  }
}
