html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
}

#home_banner {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("/images/home1_landscape.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.author {
  padding: 20px 0px 50px 0px;
  text-align: center;
  img {
    width: 170px;
  }
  h1 {
    color: #54595f;
    font-family: "FuturaLTPro-Book", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
  }
}

#container {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.card {
  background-color: #e1e1eb;
  box-sizing: border-box;
  height: 394px;
  margin: 5px;
  min-width: 600px;
  height: 658px;
  position: relative;
  .card-img-full {
    background-size: cover;
    height: 100%;
  }
  .card-img-top {
    background-size: cover;
    height: 30%;
  }
  .card-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
  }
  .card-title {
    color: #54595f;
    font-family: "FuturaLTPro-Book", Sans-serif;
    font-size: 3.5em;
    font-weight: normal;
    letter-spacing: 0.8px;
    line-height: 1em;
    text-transform: uppercase;
    margin: 34px 0;
  }
  .card-subtitle {
    color: #54595f;
    font-family: "FuturaStd-Light", Sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    margin: 0;
  }
  .card-text {
    color: #54595f;
    font-family: "FuturaStd-Light", Sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

footer {
  padding: 20px;
  p {
    color: #7a7a7a;
    font-family: "FuturaStd-Light", Sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
}
